/.idea/
/echo2.0-admin/dist
/echo2.0-admin/.idea
/echo2.0-admin/node_modules
/0725echo2.0-h5/.idea
/0725echo2.0-h5/dist
/0725echo2.0-h5/node_modules
*.zip
node_modules
.DS_Store


/echo2.0-admin/node_modules
/0725echo2.0-h5/node_modules
/0725echo2.0-h5/dist
/0725echo2.0-h5/dist
/echo2.0-admin/node_modules

